<div class="container d-flex p-5 align-items-center">
  <h1 class="text-center">Todo list</h1>
  <div class="input-group mb-3 w-50">
    <input
      type="text"
      class="form-control"
      placeholder="Tarea..."
      aria-label="Tarea..."
      aria-describedby="button-addon2"
      [(ngModel)]="newTodo"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      (click)="agregarTarea(newTodo)"
    >
      Agregar
    </button>
  </div>
  <div class="container w-50">
    <table class="table table-striped text-center">
      <tbody>
        <tr *ngFor="let todo of todos; let id = index">
          <th scope="row">{{ id + 1 }}</th>
          <td
            class="{{ todo.isCompleted ? 'tareaLista' : '' }} text-start"
            (click)="alternarTarea(id)"
          >
            {{ todo.name }}
          </td>
          <td (click)="eliminarTarea(id)">X</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
